/**
* @name ✨Fresh✨ Tokyo Night
* @author JustJabka, JIRONIS
* @version 1.0.0
* @description Updated version of "Tokyo Night" theme.
*/

@import url("https://nyri4.github.io/Discolored/main.css");

.theme-dark { /* Dark Mode */
  --primary-800: #13131a;
  --primary-600: #1a1b26;
  --primary-630: #13131a; /* Scrollbar and toolbar */
  --primary-500: #1d1e28; /* Watch button */ 
  --home-background: none;  
  --primary-600-hsl: none;

  /* Header Color */
  --header-primary: var(--text-normal);
  --header-secondary: var(--text-muted);

  /* Text Color */
  --text-normal: #b1bae6;
  --text-muted: #565f89;
  --interactive-normal: #5f647e;
  --interactive-hover: #a2a6c2;
  --interactive-active: #b5bad1;
  --interactive-muted: #55576b;
  /* --primary-400: blue; icons */
  /* --primary-360: yellow; text */

  /* Background Color */
  --background-primary: var(--primary-600);
  --background-secondary: #171722;
  --background-secondary-alt: #13131a;
  --background-tertiary: #16161e;
  --background-tertiary-alt: var(--background-secondary-alt);
  --background-accent: #434461;
  --background-floating: #161620;
  --background-modifier-hover: #212331c0;
  --background-modifier-active: #282a3680;
  --background-modifier-selected: #24263171;
  --background-modifier-accent: #1e1e29;
  --background-mentioned: #252836;
  --border-mentioned: #474c64;
  --background-mentioned-hover: #2f3344;
  --accent-color: #7aa2f7;
  --bg-overlay-2: var(--primary-600);
  --bg-mod-faint: #16161e; /* Buttons and search */

  /* Folder Color */
  --folder-color: #202332d0;
  --folder-color-light: #2f3342d0;

  /* Scrollbars Color */
  --scrollbar-thin-thumb: transparent;
  --scrollbar-thin-track: transparent;
  --scrollbar-auto-thumb: #2b2b46af;
  --scrollbar-auto-thumb-hover: #27273d85;
  --scrollba-auto-track: transparent;
  --scrollbar-auto-scrollbar-color-thumb: var(--scrollbar-auto-thumb);
  --scrollbar-auto-scrollbar-color-track: var(--scrollbar-auto-track);

  /* Chat Box Color */
  --channeltextarea-background: var(--background-secondary);
  --channeltextarea-background-hover: var(--background-tertiary);
}

/* Box in user profile */
.container_ecc04c {
  background-color: var(--primary-600);
}

/* Support for plugin Shiki Code */
.shiki-root code {
  background: #161621;
}

/* Yep no light mode support :Ь */